@font-face {
  font-family: 'RaleWay';
  src: url('../public/Raleway-VariableFont_wght.ttf') format('truetype'), 
       url('../public/Raleway-VariableFont_wght.ttf') format('truetype');   
}
.all{
  width: 100%;
  height: 100vh;
  display: flex;
}
*{
  margin:0;
  font-family: "RaleWay";
  transition: 0.2s ease-in;
}
.sideBar{
  background:#fdfdfd;
  width: 10vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right:1px solid rgb(209, 209, 209)
}

.sideButt{
  margin-left: 20px;
width: 70%;
  background-color: transparent;
  border: 0;
  height: 5%;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
  display: flex;
  font-size: small;
  align-items: center;
    justify-content: space-around;
}
.sideButt:hover{
  background-color: white;
}
.icon .icon1{
  padding:15px;
 }
.sideButt:hover > .icon1{
  color: #DAA520;
}
.sideButt:hover > .icon2{
  color: red;
}
.sideButt:hover > .icon3{
  color: blue;
}
.sideButt:hover > .icon4{
  color: green;
}
.sideButt:hover > .icon5{
  color: black;
}

.restOfpage{
  margin-left: 5rem;
  margin-top: 3rem;
  width: 100%;
}
.addtask{
  min-width: fit-content;
  width: 5.5rem;
  color: #157aff;
  height: 3rem;
  border-radius: 12px;
  margin:0;
}
.addtask:hover{
  background-color: #e3f1ff;

}
button.sideButt.changePage{
  width: 10px;
}
.pagination{
  display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.taskList{
  width: 60%;
}
.taskList * {
  border:0!important;
  box-shadow: 0px 0px 0px 0px!important;
}

.changePage{
  background-color: transparent;
  transition: 10ms ease-in;
  cursor: pointer;
  color: rgb(0 0 0 / 24%);
}
.checkBox{
  background-color: transparent;
  transition: 10ms ease-in;
  cursor: pointer;
  color: rgb(0 0 0 / 24%);
}
.checkBox:hover > svg{
  color: #157aff!important;
}
.changePage:hover{
  color: #157aff!important;
}
.header{
  display: flex;
    width: 60%;
    justify-content: space-between;
}
.table{
  width: 60%;
}
.todayPage{
  width: 50%;
}
h3{
  margin-top:2rem;
}
h1{
  margin-bottom:3rem
}
.taskName{
  font-weight: bold;
}
.time{
  color: #157aff;
}
td{
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}