@font-face {
  font-family: 'RaleWay';
  src: url('../public/Raleway-VariableFont_wght.ttf') format('truetype'), 
}
.all{
  width: 100%;
  height: 100vh;
  display: flex;
}
*{
  margin:0;
  font-family: "RaleWay";
}
button{
  
  transition: 0.2s ease-in;
}
.sideBar{
  padding-top: 2rem;
  width: 17vw;
  display: flex;
  flex-direction: column;
  border-right:1px solid rgb(209, 209, 209)
}

.sideButt{
width: 100%;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  height: 5%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  font-size: small;
  align-items: center;
}
.sideButt:hover{
  background-color: white;
}

.sideButt:hover > .icon1{
  color: #DAA520;
}
.sideButt:hover > .icon2{
  color: red;
}
.sideButt:hover > .icon3{
  color: blue;
}
.sideButt:hover > .icon4{
  color: green;
}
.sideButt:hover > .icon5{
  color: black;
}

.restOfpage{
  width: 100%;
  display: flex;
}
.addtask{
  min-width: fit-content;
  width: 5.5rem;
  color: #157aff;
  height: 3rem;
  border-radius: 12px;
  margin:0;
}
.addtask:hover{
  background-color: #e3f1ff;

}
button.sideButt.changePage{
  width: 10px;
}
.pagination{
  display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}
.taskList{
  width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.taskList * {
  border:0!important;
  box-shadow: 0px 0px 0px 0px!important;
}

.changePage{
  background-color: transparent;
  transition: 10ms ease-in;
  cursor: pointer;
  color: rgb(0 0 0 / 24%);
}
.checkBox{
  background-color: transparent;
  transition: 10ms ease-in;
  cursor: pointer;
  color: rgb(0 0 0 / 24%);
}
.checkBox:hover > svg{
  color: #157aff!important;
}
.changePage:hover{
  color: #157aff!important;
}
.header{
  display: flex;
    width: 80%;
    justify-content: space-between;
}
.table{
  width: 80% !important;
  min-height: 50%;
}
.todayPage{
  border-right:1px solid rgb(209, 209, 209);
  width: 60%;
}
.calendar *{
  transition: none;
}

g{
  transition: none!important;
}
.calendar{
  border-bottom:1px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  
}
h1{
  margin-bottom:3rem
}
.taskName{
  font-weight: bold;
}
.time{
  color: #157aff;
}
.taskList td{
  width: auto;
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}
.icon{
  color: #157aff;
}
.ant-modal-body{
  width: 400px;
  display: flex;
  flex-direction: column;
}
input{
  padding: 5px;
}
li{
  font-size: large;
}